<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style type="text/css">
        body{text-align:center}
    </style>

    <body style="background-color:grey;">
        <h1 style="border:black; border-width:5px; border-style:solid;">William Says: </h1>

        <div class="topnav">
            <a class="active" href="chat-bot.html">
                <button class="btn btn-primary btn-lg">Home</button>
            </a>
            <a href="choose-your-insult.html">
                <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
            </a>
            <a href="#contact">Bs1</a>
            <a href="#about">Bs2</a>
          </div> 

        <h2> </h2>

        <h2> {{insult}} </h2>

    </body>

</html>