<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <head>
        <title>Feel Better</title>
    </head>

    <body>
        
<h1>Cleetus Says: </h1>
<div class="topnav">
    <a class="active" href="/home">
        <button class= "glow-on-hover">Feel Better</button>
    </a>
    <a href="/make-others-feel-better">
        <button class="glow-on-hover">Make Others Feel Better</button>
    </a>
    <a href="/inspiration">
        <button class="glow-on-hover">Inspiration</button>
    </a>
    <a href="/messages-for-me">
        <button class="glow-on-hover">Messages for Me</button>
    </a>
    <a href="/messages-i-sent">
        <button class="glow-on-hover">Messages I Sent</button>
    </a>
    <a href="/users">
        <button class="glow-on-hover">Users</button>
    </a>
    <a class="active" href="/profile">
        <button class="glow-on-hover">My Profile</button>
    </a>
  </div> 

        <h2> </h2>
        <form method="POST" action="/feel-better">
            <label for="why_feel_sad">Cleetus is a very caring bot. Share why you feel sad:</label><br>
            <textarea id="special_care" name="why_feel_sad" placeholder="Why Do You Feel Sad?" rows="5" cols="37"></textarea><br>
            <input type="submit" value="{{button_msg}}">
        </form>
        <br>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <h5 style="color:red"><b>{{ message }}</b></h5>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}

        <div class="heart-shape"></div>
        <h3> {{this}} </h3>
        <h3>{{msg}}</h3>

    </body>

</html>