<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style type="text/css">
        body{text-align:center}
    </style>

    <body style="background-color:grey;">
        
<h1 style="border:black; border-width:5px; border-style:solid;">William Says: </h1>
<div class="topnav">
    <a class="active" href="/home">
        <button class= "btn btn-primary btn-lg">Feel Better</button>
    </a>
    <a href="/make-others-feel-better">
        <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
    </a>
    <a href="/inspiration">
        <button class="btn btn-primary btn-lg">Inspiration</button>
    </a>
    <a href="/messages-for-me">
        <button class="btn btn-primary btn-lg">Messages for Me</button>
    </a>
    <a href="/users">
        <button class="btn btn-primary btn-lg">Users</button>
    </a>
  </div> 

        <h2> </h2>
        <form method="POST" action="/feel-better">
            <input type="submit" value="Click For Happiness!">
        </form>
        <br>

        <h2> 
            {% if msg != "" %}
            {{msg}} 
            {% endif %}
        </h2>

    </body>

</html>