<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <head></head>

    <body>
        
<h1>William Says: </h1>
<div class="topnav">
    <a class="active" href="/home">
        <button class= "glow-on-hover">Feel Better</button>
    </a>
    <a href="/make-others-feel-better">
        <button class="glow-on-hover">Make Others Feel Better</button>
    </a>
    <a href="/inspiration">
        <button class="glow-on-hover">Inspiration</button>
    </a>
    <a href="/messages-for-me">
        <button class="glow-on-hover">Messages for Me</button>
    </a>
    <a href="/users">
        <button class="glow-on-hover">Users</button>
    </a>
    <a class="active" href="/profile">
        <button class="glow-on-hover">My Profile</button>
    </a>
  </div> 

        <h2> </h2>
        <form method="POST" action="/feel-better">
            <input type="submit" value="Click For Happiness!">
        </form>
        <br>

        <h2>{{msg}}</h2>

    </body>

</html>