<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style type="text/css">
        body{text-align:center}
        .error {
            color: red
        }
        .message {
            color: black
            font-size: 24px
        }
    </style>

    <body style="background-color:grey;">

    <h1 style="border:black; border-width:5px; border-style:solid;">Inspiration! </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "btn btn-primary btn-lg">Feel Better</button>
        </a>
        <a href="/insult_page">
            <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
        </a>
        <a class="active" href="/inspiration">
            <button class="btn btn-primary btn-lg">Inspiration</button>
        </a>
        <a href="/messages-for-me">
            <button class="btn btn-primary btn-lg">Messages for Me</button>
        </a>
        <a href="/users">
            <button class="btn btn-primary btn-lg">Users</button>
        </a>
      </div> 
    
    <h3> </h3>

    <body style="background-color:grey;">

    <form method="POST" action="/search_insults">
        <label for="insult_keyword">Insult Keyword Here</label><br>
        <input type="text" name="insult_keyword" placeholder="Keyword Here for Insults"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <table class="center">
        <tr>
        <th>Possible Insults To Choose From:</th>
        </tr>
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <h1 class={{category}}><b>{{ message }}</b></h1>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %} 

    </body>

</html>