<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <head></head>


    <body>

    <h1>Inspiration! </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "glow-on-hover">Feel Better</button>
        </a>
        <a href="/make-others-feel-better">
            <button class="glow-on-hover">Make Others Feel Better</button>
        </a>
        <a class="active" href="/inspiration">
            <button class="glow-on-hover">Inspiration</button>
        </a>
        <a href="/messages-for-me">
            <button class="glow-on-hover">Messages for Me</button>
        </a>
        <a href="/users">
            <button class="glow-on-hover">Users</button>
        </a>
        <a class="active" href="/profile">
            <button class="glow-on-hover">My Profile</button>
        </a>
      </div> 
    
    <h3> </h3>

    <form method="POST" action="/search_insults">
        <label for="insult_keyword">Insult Keyword Here</label><br>
        <input type="text" name="insult_keyword" placeholder="Keyword Here for Insults"><br>
        <input type="submit" value="Submit"><br>
    </form>

    <h3 class="center">
        Possible Insults To Choose From:
    </h3>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <h3 class={{category}}><b>{{ message }}</b></h3>
      {% endfor %}
      </ul>
    {% endif %}
    {% endwith %} 

    <div class="navbar">
        <a href="/home" class="active">Home</a>
    </div> 

    </body>

</html>