<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            
        </style>
    </head>

    <body>

      <style type="text/css">
        body{text-align:center}
    </style>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <h1 style="color:red"><b>{{ message }}</b></h1>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}

    <body style="background-color:grey;">

        
    <h1 style="border:black; border-width:5px; border-style:solid;">Log In </h1>

        <form method="POST" action="/login/check">
            <label for="username">Username</label><br>
            <input type="text" name="username" placeholder="Username"><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Submit">
        </form>

        <h5><a href="{{url_for('signup')}}">Sign Up</a></h5>

    </body>

</html>