<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style type="text/css">
        body{text-align:center}
    </style>

    <body style="background-color:grey;">

    <h1 style="border:black; border-width:5px; border-style:solid;">Make Others Feel Better </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "btn btn-primary btn-lg">Feel Better</button>
        </a>
        <a class="active" href="/make-others-feel-better">
            <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
        </a>
        <a href="/inspiration">
            <button class="btn btn-primary btn-lg">Inspiration</button>
        </a>
        <a href="/messages-for-me">
            <button class="btn btn-primary btn-lg">Messages for Me</button>
        </a>
        <a href="/users">
            <button class="btn btn-primary btn-lg">Users</button>
        </a>
      </div> 
    
    <h3> </h3>

    <body style="background-color:grey;">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <h3 style="color:red"><b>{{ message }}</b></h3>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/send_msg">
            <label for="username">Who Would You Like to Message?</label><br>
            <input type="text" name="username" placeholder="Username"><br>
            <label for="message">Type Your Message Below</label><br>
            <textarea name="message" placeholder="Your Message" rows="5" cols="37"></textarea><br>
            <input type="submit" value="Submit">
        </form>

    </body>

</html>