<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <head>
        <title>Make Others Feel Better</title>
    </head>

    <body>

    <h1>Make Others Feel Better </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "glow-on-hover">Feel Better</button>
        </a>
        <a class="active" href="/make-others-feel-better">
            <button class="glow-on-hover">Make Others Feel Better</button>
        </a>
        <a href="/inspiration">
            <button class="glow-on-hover">Inspiration</button>
        </a>
        <a href="/messages-for-me">
            <button class="glow-on-hover">Messages for Me</button>
        </a>
        <a href="/messages-i-sent">
            <button class="glow-on-hover">Messages I Sent</button>
        </a>
        <a href="/users">
            <button class="glow-on-hover">Users</button>
        </a>
        <a class="active" href="/profile">
            <button class="glow-on-hover">My Profile</button>
        </a>
      </div> 
    
    <h3> </h3>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <h3 style="color:red"><b>{{ message }}</b></h3>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/send_msg">
            <label for="username">Who Would You Like to Message?</label><br>
            <input type="text" name="username" placeholder="Username"><br>
            <label for="message">Type Your Message Below</label><br>
            <textarea name="message" placeholder="Your Message" rows="5" cols="37">{{umsg}}</textarea><br>
            <label for="approval">Do You Want Your Message to be Added as Inspiration for Other Users?</label><br>
            <input type="radio" id="yes" name="approval" value="Yes">
            <label for="yes">Yes</label><br>
            <input type="radio" id="no" name="approval" value="No">
            <label for="no">No</label><br><br>
            <input type="submit" value="Send Message">
        </form>
        <br> 
        <div id="navbar">
            <a href="/home" class="active">Home</a>
        </div> 

    </body>

</html>