<!DOCTYPE html>
<html lang="en">
    <head></head>

    <style type="text/css">
        body{text-align:center}
    </style>

    <body style="background-color:grey;">

    <h1 style="border:black; border-width:5px; border-style:solid;">Messages for Me </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "btn btn-primary btn-lg">Feel Better</button>
        </a>
        <a href="/insult_page">
            <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
        </a>
        <a href="/inspiration">
            <button class="btn btn-primary btn-lg">Inspiration</button>
        </a>
        <a class="active" href="/messages-for-me">
            <button class="btn btn-primary btn-lg">Messages for Me</button>
        </a>
        <a href="/users">
            <button class="btn btn-primary btn-lg">Users</button>
        </a>
      </div> 
    
    <h3> </h3>

    <body style="background-color:grey;">

        <table class="center">
            <tr>
              <th>All Messages From William</th>
            </tr>
            {%for i in bot_msgs%}
            <tr>
              <td>{{i.message}}</td>
            </tr>
            {% endfor %}
        </table>

        <table class="center">
            <tr>
              <th>Messages For You</th>
            </tr>
            {%for i in user_msgs%}
            <tr>
              <td>{{i.sender}}: {{i.message}}</td>
            </tr>
            {% endfor %}
        </table>

    </body>

</html>