<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <head></head>

    <body>

    <h1>Messages for Me </h1>

    <div class="topnav">
        <a href="/home">
            <button class= "glow-on-hover">Feel Better</button>
        </a>
        <a href="/make-others-feel-better">
            <button class="glow-on-hover">Make Others Feel Better</button>
        </a>
        <a href="/inspiration">
            <button class="glow-on-hover">Inspiration</button>
        </a>
        <a class="active" href="/messages-for-me">
            <button class="glow-on-hover">Messages for Me</button>
        </a>
        <a href="/users">
            <button class="glow-on-hover">Users</button>
        </a>
        <a class="active" href="/profile">
            <button class="glow-on-hover">My Profile</button>
        </a>
      </div> 
    
    <h3> </h3>

        <table class="center">
            <tr>
              <th>All Messages From William</th>
            </tr>
            {% for i in bot_msgs %}
            <tr>
              <td>{{i.message}}</td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <table class="center">
            <tr>
              <th>Messages For You</th>
            </tr>
            {% for i in user_msgs %}
            <tr>
              <td>{{i.sender}}: {{i.message}}</td>
            </tr>
            {% endfor %}
        </table>

        <div class="navbar">
            <a href="/home" class="active">Home</a>
        </div> 

    </body>

</html>