<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <head></head>

    <body>

        <h1>My Profile </h1>

        <div class="topnav">
            <a href="/home">
                <button class= "btn btn-primary btn-lg">Feel Better</button>
            </a>
            <a href="/make-others-feel-better">
                <button class="btn btn-primary btn-lg">Make Others Feel Better</button>
            </a>
            <a href="/inspiration">
                <button class="btn btn-primary btn-lg">Inspiration</button>
            </a>
            <a href="/messages-for-me">
                <button class="btn btn-primary btn-lg">Messages for Me</button>
            </a>
            <a href="/users">
                <button class="btn btn-primary btn-lg">Users</button>
            </a>
            <a class="active" href="/profile">
                <button class="btn btn-primary btn-lg">My Profile</button>
            </a>
          </div> 

          <br>
          <h3>Username: {{username}}</h3>
          <h3>First Name: {{firstname}}</h3>
          <h3>Last Name: {{lastname}}</h3>
          <br>
          <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
          </form>

          <div class="navbar">
            <a href="/home" class="active">Home</a>
          </div> 

    </body>

</html>