<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  <head></head>

    <body>

        <h1>My Profile </h1>

        <div class="topnav">
            <a href="/home">
                <button class= "glow-on-hover">Feel Better</button>
            </a>
            <a href="/make-others-feel-better">
                <button class="glow-on-hover">Make Others Feel Better</button>
            </a>
            <a href="/inspiration">
                <button class="glow-on-hover">Inspiration</button>
            </a>
            <a href="/messages-for-me">
                <button class="glow-on-hover">Messages for Me</button>
            </a>
            <a href="/users">
                <button class="glow-on-hover">Users</button>
            </a>
            <a class="active" href="/profile">
                <button class="glow-on-hover">My Profile</button>
            </a>
          </div> 

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <h3 style="color:red"><b>{{ message }}</b></h3>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

          <br>
          <h3>Username: {{username}}</h3>
          <h3>First Name: {{firstname}}</h3>
          <h3>Last Name: {{lastname}}</h3>
          <br>
          <form method="POST" action="/logout">
            <input type="submit" value="Log Out">
          </form>
          <br>
          <h4>Delete Account</h4>
          <form method="POST" action="/delete-account">
            <label for="username">Enter your username below to delete your account:</label><br>
            <input type="text" name="username" placeholder="Username"><br>
            <input type="submit" value="Delete">
          </form>

          <div class="navbar">
            <a href="/home" class="active">Home</a>
          </div> 

    </body>

</html>