<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            
        </style>
    </head>

    <body>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <h1 style="color:red"><b>{{ message }}</b></h1>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}

        <body style="background-color:grey;">

        <h1 style="border:black; border-width:5px; border-style:solid;">Sign Up </h1>


        <form method="POST" action="/signup/check">
            <label for="first name">First Name</label><br>
            <input type="text" name="first name" placeholder="First Name">
            <label for="last name">Last Name</label><br>
            <input type="text" name="last name" placeholder="Last Name">
            <label for="username">Username</label><br>
            <input type="text" name="username" placeholder="Username">
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>

        <h5><a href="{{url_for('login')}}">Log In</a></h5>

    </body>





</html>